body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  flex-grow: 1;
}

li{
  list-style-type: none;
}

.header-font{
  font-family: 'Rock Salt', cursive;
}

.list-border{
  /* border: 3px solid black; */
  
  box-shadow: 3px 3px 3px gray ;
}
.top-shadow{
  box-shadow: 8px 3px 8px gray ;
}

.round-top{
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.round-bottom{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrap{
  word-wrap: break-word;
}

.action{
  cursor: pointer;
}

.tall-row{
  min-height: 30vh;
}

.tall-list{
  min-height: 40vh;
}

.color-short{
  max-height: 20%;
}

.list-tall{
  min-height: 80%;
}

.no-margin{
  margin-top: -8px;
}
.push-up{
  margin-top: -25px;
  margin-right: 10px;
}

.list-font{
  font-family: 'Pangolin', cursive;
}

.rounded {
  border-radius: 50%;
}

#color{
width: 100px;
}

@media only screen and (max-width: 600px) {
  .tall-row{
    min-height: 50vh;
  }
  
  .tall-list{
    min-height: 50vh;
  }
  .color-short{
    max-height: 30%;
  }
  .list-tall{
    min-height: 70%;
  }
  
  .mobile-hide{
    display: none;
  }
}

